/* commmon CSS styles START here */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.common-h1{
    font-size: 3rem;
    font-weight: 700;
}
.primary-btn{
    width: 150px;
    height: 54px;
    border-radius: 8px;
    border: 0;
    background: #FF900E;
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
/* commmon CSS styles END here */

/* Header CSS styles START here */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 160px;
}
/* Nav-menu START here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    text-decoration: none;
    margin-right: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.2rem;
}
/* Nav-menu END here */

/* Banner START here */
.banner-container img{
    width: 100%;
}
.banner-content{
    max-width: 562px;
    text-align: center;
    margin: 4.1rem auto;
}
.banner-tittle{
    font-size: 3.5rem;
    color: #131313;
    font-weight: 700;
}
.coomon-description{
    font-weight: 400;
    color: #727272;
    line-height: 1.5rem; 
}
/* Banner END here */
/* Header CSS styles END here */

/*  Main CSS styles START here */
main{
    max-width: 1440px;
    margin: 4rem auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.team-tittle{
    font-size: 3rem;
}
.span-1{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.span-2{
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}
.teams img{
    width: 100%;
}
.teams-content{
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}
/* Main CSS styles END here */

/* Footer CSS styles START here */
/* Footer CSS styles END here */

/* Responsive START now for small devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    .common-h1{
        margin-bottom: 10px;
    }
    nav{
        flex-direction: column;
    }
    .banner-content{
        margin: 20px auto;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .teams{
        grid-template-columns: 1fr;
    }
    main{
        margin-top: 20px;
    }
    .teams-content{
        text-align: center;
        padding: 10px;
    }
}
/* Responsive END now for small devices */

/* Responsive START now for medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    main{
        margin-top: 20px;
    }
    .teams-content{
        padding-bottom: 20px;
        text-align: center;
    }
}
/* Responsive END now for medium devices */