/* commmon CSS styles START here */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* commmon CSS styles END here */

/* Header CSS styles START here */
/* Header CSS styles END here */

/*  Main CSS styles START here */
/* Main CSS styles END here */

/* Footer CSS styles START here */
/* Footer CSS styles END here */